<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     lang="en">
<head>
    <title>HomeComponent</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>
</head>

<body>
    <h2>This is the HomeComponent</h2>
    <div th:text="${helloWorld}"></div>

    <a href="/">Index</a>
    <a href="/multi-component">Multi Component Example</a>

    <h3>Out of band response Test:</h3>
    <div id="table" >
        <div view:component="${tableViewComponent}"></div>

    </div>
    <br>
    <button hx-get="/table-oob" hx-target="#table">Get Site Update</button>

    <br><br>
    <div view:component="${parameterViewComponent}"></div>

</body>
</html>